{{define "cargo_curve_switch_medium"}}
switch (FEAT_TRAINS, SELF, switch_{{.}}_curve, procedure_curve_medium())  {
    TWF_SPRITE_NORMAL: return spritegroup_{{.}};

    TWF_SPRITE_TURN_1: return spritegroup_{{.}}_turn_1;
    TWF_SPRITE_TURN_2: return spritegroup_{{.}}_turn_2;

    TWF_SPRITE_DOWN: return spritegroup_{{.}}_down;
    TWF_SPRITE_UP: return spritegroup_{{.}}_up;

    CB_FAILED;
}
{{end}}