{{define "cargo_curve_switch_long"}}

// Cargo switch for front flat&straight
switch(FEAT_TRAINS, SELF, switch_cargo_{{.}}_sections_front, [
        STORE_TEMP(1, 0x10F), // use variable of next vehicle
        (var[0x61, 0, 0x0000FFF, 0xBC] * 4) / cargo_capacity
    ])
{
    1..2: return spriteset_{{.}}_half_sections_front;
    3..4: return spriteset_{{.}}_full_sections_front;
    return spritegroup_{{.}}_none_sections_front;
}

// Cargo switch for rear flat&straight
switch(FEAT_TRAINS, SELF, switch_cargo_{{.}}_sections_rear,  [
        STORE_TEMP(-1, 0x10F), // use variable of previous vehicle
        (var[0x61, 0, 0x0000FFF, 0xBC] * 4) / cargo_capacity
    ])
{
    1..2: return spriteset_{{.}}_half_sections_rear;
    3..4: return spriteset_{{.}}_full_sections_rear;
    return spritegroup_{{.}}_none_sections_rear;
}


// Cresting hills is a special case where the full flat sprite should be used, and
// not the 3-part set
switch (FEAT_TRAINS, SELF, switch_{{.}}_curve, procedure_curve_long())  {
    TWF_SPRITE_NONE: return spriteset_invisible;
    TWF_SPRITE_NORMAL: return spritegroup_{{.}};

    TWF_SPRITE_TURN_1: return spritegroup_{{.}}_turn_1;
    TWF_SPRITE_TURN_2: return spritegroup_{{.}}_turn_2;

    TWF_SPRITE_DOWN: return spritegroup_{{.}}_down;
    TWF_SPRITE_UP: return spritegroup_{{.}}_up;

    TWF_SECTION_MID: return spritegroup_{{.}}_sections_mid;

    CB_FAILED;
}

switch (FEAT_TRAINS, SELF, switch_{{.}}_curve_front, procedure_curve_front_long())  {
    TWF_SPRITE_NONE: return spriteset_invisible;
    TWF_SECTION_FRONT: return switch_cargo_{{.}}_sections_front;

    CB_FAILED;
}

switch (FEAT_TRAINS, SELF, switch_{{.}}_curve_rear, procedure_curve_rear_long())  {
    TWF_SPRITE_NONE: return spriteset_invisible;
    TWF_SECTION_REAR: return switch_cargo_{{.}}_sections_rear;

    CB_FAILED;
}
{{end}}