{{define "curve_switch_long_weathered"}}

{{$id := .}}

{{ $dat := dict "id" $id "variant" "regular" "innervariant" "" }}
{{template "curve_switch_long_weathered_inner" $dat}}

{{ $dat = dict "id" $id "variant" "light" "innervariant" "_light" }}
{{template "curve_switch_long_weathered_inner" $dat}}

{{ $dat = dict "id" $id "variant" "dark" "innervariant" "_dark" }}
{{template "curve_switch_long_weathered_inner" $dat}}


random_switch (FEAT_TRAINS, FORWARD_SELF(1), switch_{{.}}_curve_fwd)
{
    3: switch_{{.}}_curve_regular;
    2: switch_{{.}}_curve_light;
    2: switch_{{.}}_curve_dark;
}

random_switch (FEAT_TRAINS, SELF, switch_{{.}}_curve_front_fwd)
{
    3: switch_{{.}}_curve_front_regular;
    2: switch_{{.}}_curve_front_light;
    2: switch_{{.}}_curve_front_dark;
}

random_switch (FEAT_TRAINS, FORWARD_SELF(2), switch_{{.}}_curve_rear_fwd)
{
    3: switch_{{.}}_curve_rear_regular;
    2: switch_{{.}}_curve_rear_light;
    2: switch_{{.}}_curve_rear_dark;
}

// Random choice of wagon type
random_switch (FEAT_TRAINS, BACKWARD_SELF(1), switch_{{.}}_curve_rev)
{
    3: switch_{{.}}_curve_regular;
    2: switch_{{.}}_curve_light;
    2: switch_{{.}}_curve_dark;
}

random_switch (FEAT_TRAINS, SELF, switch_{{.}}_curve_front_rev)
{
    3: switch_{{.}}_curve_front_regular;
    2: switch_{{.}}_curve_front_light;
    2: switch_{{.}}_curve_front_dark;
}

random_switch (FEAT_TRAINS, BACKWARD_SELF(2), switch_{{.}}_curve_rear_rev)
{
    3: switch_{{.}}_curve_rear_regular;
    2: switch_{{.}}_curve_rear_light;
    2: switch_{{.}}_curve_rear_dark;
}

switch (FEAT_TRAINS, SELF, switch_{{.}}_curve, vehicle_is_flipped)
{
    0: switch_{{.}}_curve_fwd;
    1: switch_{{.}}_curve_rev;
}

switch (FEAT_TRAINS, SELF, switch_{{.}}_curve_front, vehicle_is_flipped)
{
    0: switch_{{.}}_curve_front_fwd;
    1: switch_{{.}}_curve_front_rev;
}

switch (FEAT_TRAINS, SELF, switch_{{.}}_curve_rear, vehicle_is_flipped)
{
    0: switch_{{.}}_curve_rear_fwd;
    1: switch_{{.}}_curve_rear_rev;
}

{{end}}