{{define "curve_switch_long"}}
switch (FEAT_TRAINS, SELF, switch_{{.}}_curve, procedure_curve_long())  {
    TWF_SPRITE_NONE: return spriteset_invisible;
    TWF_SPRITE_NORMAL: return spriteset_{{.}};

    TWF_SPRITE_TURN_1: return spriteset_{{.}}_turn_1;
    TWF_SPRITE_TURN_2: return spriteset_{{.}}_turn_2;

    TWF_SPRITE_DOWN: return spriteset_{{.}}_down;
    TWF_SPRITE_UP: return spriteset_{{.}}_up;

    TWF_SECTION_MID: return spriteset_{{.}}_sections_mid;

    CB_FAILED;
}

switch (FEAT_TRAINS, SELF, switch_{{.}}_curve_front, procedure_curve_front_long())  {
    TWF_SPRITE_NONE: return spriteset_invisible;
    TWF_SECTION_FRONT: return spriteset_{{.}}_sections_front;

    CB_FAILED;
}

switch (FEAT_TRAINS, SELF, switch_{{.}}_curve_rear, procedure_curve_rear_long())  {
    TWF_SPRITE_NONE: return spriteset_invisible;
    TWF_SECTION_REAR: return spriteset_{{.}}_sections_rear;

    CB_FAILED;
}
{{end}}