{{define "curve_switch_short"}}
switch (FEAT_TRAINS, SELF, switch_{{.}}_curve, procedure_curve_short())  {
    TWF_SPRITE_NORMAL: return spriteset_{{.}};

    TWF_SPRITE_TURN_1: return spriteset_{{.}}_turn_1;
    TWF_SPRITE_TURN_2: return spriteset_{{.}}_turn_2;

    TWF_SPRITE_DOWN: return spriteset_{{.}}_down;
    TWF_SPRITE_UP: return spriteset_{{.}}_up;

    CB_FAILED;
}
{{end}}