{{define "curve_switch_short_weathered"}}
switch (FEAT_TRAINS, SELF, switch_{{.}}_curve_regular, procedure_curve_short())  {
    TWF_SPRITE_NORMAL: return spriteset_{{.}};

    TWF_SPRITE_TURN_1: return spriteset_{{.}}_turn_1;
    TWF_SPRITE_TURN_2: return spriteset_{{.}}_turn_2;

    TWF_SPRITE_DOWN: return spriteset_{{.}}_down;
    TWF_SPRITE_UP: return spriteset_{{.}}_up;

    CB_FAILED;
}

switch (FEAT_TRAINS, SELF, switch_{{.}}_curve_light, procedure_curve_short())  {
    TWF_SPRITE_NORMAL: return spriteset_{{.}}_light;

    TWF_SPRITE_TURN_1: return spriteset_{{.}}_light_turn_1;
    TWF_SPRITE_TURN_2: return spriteset_{{.}}_light_turn_2;

    TWF_SPRITE_DOWN: return spriteset_{{.}}_light_down;
    TWF_SPRITE_UP: return spriteset_{{.}}_light_up;

    CB_FAILED;
}

switch (FEAT_TRAINS, SELF, switch_{{.}}_curve_dark, procedure_curve_short())  {
    TWF_SPRITE_NORMAL: return spriteset_{{.}}_dark;

    TWF_SPRITE_TURN_1: return spriteset_{{.}}_dark_turn_1;
    TWF_SPRITE_TURN_2: return spriteset_{{.}}_dark_turn_2;

    TWF_SPRITE_DOWN: return spriteset_{{.}}_dark_down;
    TWF_SPRITE_UP: return spriteset_{{.}}_dark_up;

    CB_FAILED;
}

random_switch (FEAT_TRAINS, SELF, switch_{{.}}_curve)
{
    3: switch_{{.}}_curve_regular;
    2: switch_{{.}}_curve_light;
    2: switch_{{.}}_curve_dark;
}
{{end}}