{{ $zoom := parseint .globals.zoom }}
{{$template := concat "template_auto_" .ttd_len -}}
{{$plen := parseint .ttd_len -}}

spriteset(spriteset_{{.id}}_purchase, ZOOM_LEVEL_IN_4X, BIT_DEPTH_8BPP, "4x/{{.id}}_purchase.png")
{ template_purchase_4x() }

{{ $ani := concat .id "_1" }}{{ altsprites8 $ani $template $zoom }}
{{$template_turn := concat "template_auto_turn_1_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_1" }}
{{$template_turn = concat "template_auto_turn_2_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_2" }}
{{$template_turn = concat "template_auto_up_" .ttd_len -}}{{$hill := concat $ani "_up" }}{{ altsprites8 $hill $template_turn $zoom }}
{{$template_turn = concat "template_auto_down_" .ttd_len -}}{{$hill = concat $ani "_down" }}{{ altsprites8 $hill $template_turn $zoom }}

{{ $ani = concat .id "_2" }}{{ altsprites8 $ani $template $zoom }}
{{$template_turn = concat "template_auto_turn_1_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_1" }}
{{$template_turn = concat "template_auto_turn_2_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_2" }}
{{$template_turn = concat "template_auto_up_" .ttd_len -}}{{$hill = concat $ani "_up" }}{{ altsprites8 $hill $template_turn $zoom }}
{{$template_turn = concat "template_auto_down_" .ttd_len -}}{{$hill = concat $ani "_down" }}{{ altsprites8 $hill $template_turn $zoom }}

{{ $ani = concat .id "_3" }}{{ altsprites8 $ani $template $zoom }}
{{$template_turn = concat "template_auto_turn_1_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_1" }}
{{$template_turn = concat "template_auto_turn_2_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_2" }}
{{$template_turn = concat "template_auto_up_" .ttd_len -}}{{$hill = concat $ani "_up" }}{{ altsprites8 $hill $template_turn $zoom }}
{{$template_turn = concat "template_auto_down_" .ttd_len -}}{{$hill = concat $ani "_down" }}{{ altsprites8 $hill $template_turn $zoom }}

{{ $ani = concat .id "_4" }}{{ altsprites8 $ani $template $zoom }}
{{$template_turn = concat "template_auto_turn_1_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_1" }}
{{$template_turn = concat "template_auto_turn_2_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_2" }}
{{$template_turn = concat "template_auto_up_" .ttd_len -}}{{$hill = concat $ani "_up" }}{{ altsprites8 $hill $template_turn $zoom }}
{{$template_turn = concat "template_auto_down_" .ttd_len -}}{{$hill = concat $ani "_down" }}{{ altsprites8 $hill $template_turn $zoom }}

{{ $ani = concat .id "_1_r" }}{{ altsprites8 $ani $template $zoom }}
{{$template_turn = concat "template_auto_turn_1_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_1" }}
{{$template_turn = concat "template_auto_turn_2_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_2" }}
{{$template_turn = concat "template_auto_up_" .ttd_len -}}{{$hill = concat $ani "_up" }}{{ altsprites8 $hill $template_turn $zoom }}
{{$template_turn = concat "template_auto_down_" .ttd_len -}}{{$hill = concat $ani "_down" }}{{ altsprites8 $hill $template_turn $zoom }}

{{ $ani = concat .id "_2_r" }}{{ altsprites8 $ani $template $zoom }}
{{$template_turn = concat "template_auto_turn_1_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_1" }}
{{$template_turn = concat "template_auto_turn_2_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_2" }}
{{$template_turn = concat "template_auto_up_" .ttd_len -}}{{$hill = concat $ani "_up" }}{{ altsprites8 $hill $template_turn $zoom }}
{{$template_turn = concat "template_auto_down_" .ttd_len -}}{{$hill = concat $ani "_down" }}{{ altsprites8 $hill $template_turn $zoom }}

{{ $ani = concat .id "_3_r" }}{{ altsprites8 $ani $template $zoom }}
{{$template_turn = concat "template_auto_turn_1_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_1" }}
{{$template_turn = concat "template_auto_turn_2_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_2" }}
{{$template_turn = concat "template_auto_up_" .ttd_len -}}{{$hill = concat $ani "_up" }}{{ altsprites8 $hill $template_turn $zoom }}
{{$template_turn = concat "template_auto_down_" .ttd_len -}}{{$hill = concat $ani "_down" }}{{ altsprites8 $hill $template_turn $zoom }}

{{ $ani = concat .id "_4_r" }}{{ altsprites8 $ani $template $zoom }}
{{$template_turn = concat "template_auto_turn_1_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_1" }}
{{$template_turn = concat "template_auto_turn_2_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_2" }}
{{$template_turn = concat "template_auto_up_" .ttd_len -}}{{$hill = concat $ani "_up" }}{{ altsprites8 $hill $template_turn $zoom }}
{{$template_turn = concat "template_auto_down_" .ttd_len -}}{{$hill = concat $ani "_down" }}{{ altsprites8 $hill $template_turn $zoom }}

{{ $sprite := .id}}

{{ if not .reuse_sprites }}
{{$anim := concat $sprite "_1" }}
{{template "curve_switch_short" $anim }}
{{$anim = concat $sprite "_2" }}
{{template "curve_switch_short" $anim }}
{{$anim = concat $sprite "_3" }}
{{template "curve_switch_short" $anim }}
{{$anim = concat $sprite "_4" }}
{{template "curve_switch_short" $anim }}

{{$anim = concat $sprite "_1_r" }}
{{template "curve_switch_short" $anim }}
{{$anim = concat $sprite "_2_r" }}
{{template "curve_switch_short" $anim }}
{{$anim = concat $sprite "_3_r" }}
{{template "curve_switch_short" $anim }}
{{$anim = concat $sprite "_4_r" }}
{{template "curve_switch_short" $anim }}
{{end}}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_animation, ((motion_counter % 4) * 2) + ((vehicle_is_flipped ^ train_is_driving_backwards) * !param_moonwalking_honsen))
{
0: switch_{{$sprite}}_1_curve;
1: switch_{{$sprite}}_1_r_curve;
2: switch_{{$sprite}}_2_curve;
3: switch_{{$sprite}}_2_r_curve;
4: switch_{{$sprite}}_3_curve;
5: switch_{{$sprite}}_3_r_curve;
6: switch_{{$sprite}}_4_curve;
7: switch_{{$sprite}}_4_r_curve;
}

switch (FEAT_TRAINS, PARENT, switch_{{.id}}_speed, current_speed > 8 && hasbit(bitmask_consist_info, HAS_DANDY_WAGON) ? 1 : 0) 
{
    1: return spriteset_invisible;
    switch_{{.id}}_animation;
}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_graphics, position_in_articulated_veh % 3) 
{
    1: switch_{{.id}}_speed;
    return spriteset_invisible;
}

item(FEAT_TRAINS, {{.id}}, {{.numeric_id}}) {
    property {
        name:                         {{.name_string}};
        climates_available:           {{ if .enable_param }} {{.enable_param}} ? {{end}} ALL_CLIMATES {{ if .enable_param }} : NO_CLIMATE {{end}};        
        introduction_date:            date({{.year}}, {{.intro_month}}, 5);
        model_life:                   {{if .service}}{{.lifespan}};{{else}}VEHICLE_NEVER_EXPIRES;{{end}}
        retire_early:                 -4;
        vehicle_life:                 {{.vehicle_life}};

        engine_class:                 ENGINE_CLASS_DIESEL;
        visual_effect_and_powered:    VISUAL_EFFECT_DISABLE;
        
        running_cost_base:            RUNNING_COST_DIESEL;
        tractive_effort_coefficient:  {{.te_coeff}};
        power:                        {{.power}} hp;
        speed:                        {{.speed}} mph;
        reliability_decay:            20;

        cost_factor:                  {{.cost}};
        running_cost_factor:          {{.running_cost}};
        sprite_id:                    SPRITE_ID_NEW_TRAIN;
        misc_flags:                   bitmask(TRAIN_FLAG_2CC);
        refit_cost:                   0;
        track_type:                   {{.railtype}};
        dual_headed:                  0;

        air_drag_coefficient:         0.1;

        cargo_capacity:               0;

        weight:                       {{.weight}} ton;

        {{if .badges}}
            badges: [
            {{- range $index, $element := slice .badges -}}
            {{if $element}}{{if $index}}, {{end}}"{{ $element }}"{{end}}{{end}}];
        {{end}}
    }

    graphics {
        default:  switch_{{.id}}_graphics;
        purchase:  spriteset_{{.id}}_purchase;
        additional_text: return {{.additional_text_string}};
        articulated_part: procedure_loco_articulation({{.id}});
        length: procedure_loco_length({{.articulated_lengths}});
{{template "running_cost_cb" . }}
        purchase_running_cost_factor: return {{.running_cost}};
        colour_mapping: switch_horse_colour_mapping;
        purchase_colour_mapping: return recolour_horses;
        sound_effect: switch_horse_sound_fx;
        {{- if eq .railtype "NARROW_GAUGE"}}
        speed: procedure_speed_brakevan_ng({{.speed}});
        purchase_speed: return {{.kmhish_speed}};
        {{end -}}
    }
}

