if (param_fix_brake_speeds) {
    // Let's increase the speed for {{.name}}
    item(FEAT_TRAINS, {{.id}}, {{.numeric_id}}) {
        property {
            speed:                        {{.new_speed}} mph;
        }
    }
}